:root {
    /* Container */
    --container-max-width: 100%;
    --container-margin: 0 auto;
    --container-padding-x: 30px;
  }
  
  
  .container {
    max-width: var(--container-max-width);
    margin: var(--container-margin);
    padding: 0 var(--container-padding-x);
  }
  
  
  @media (min-width: 576px) {
      :root {
        --container-max-width: 540px;
      }
    }
    
    @media (min-width: 768px) {
      :root {
        --container-max-width: 720px;
      }
    }
    
    @media (min-width: 992px) {
      :root {
        --container-max-width: 960px;
      }
    }
    
    @media (min-width: 1200px) {
      :root {
        --container-max-width: 1140px;
      }
    }
    
    @media (min-width: 1400px) {
      :root {
        --container-max-width: 1280px;
        --container-padding-x: 0px;
      }
    }
    